:root {
    --color-white: #FFFFFF;
    --color-light-gray: #F1F1F1;
    --color-gray: #828282;
    --color-dark-gray: #070707;
    --color-black: #000000;

    --radius-sm: 10px;
    --radius-md: 20px;
    --radius-round: 50%;

    --transition-duration: 0.2ms;

    --shadow: 0 4px 10px #0000002b;

    --font-s: 16px;
    --font-m: 18px;
    --font-l: 32px;
    --font-xl: 34px;
    --font-xxl: 44px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

}