.section {
    background: var(--color-white);

    &__inner {
        max-width: 990px;
        max-height: 408px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0 30px 30px 30px;
    }

    &__title {
        padding-block: 30px;
        font-size: var(--font-xl);
        font-weight: var(--font-semibold);
    }

    &__logos-list {
        padding-bottom: 30px;
    }
}