@use '../../styles/variables';

.works {
    background: var(--color-light-gray);

    &__works-inner {
        padding: 0 30px 30px 30px;
        max-width: 990px;
        margin: 0 auto;
        border-radius: var(--raduis-md);
    }

    &__works-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__works-title {
        padding-block: 30px;
        @extend %font-title;
    }
}