@use '../../styles/variables';

.works {
    background: var(--color-light-gray);

    &__works-inner {
        max-width: 930px;
        min-width: 315px;
        padding: 0 30px 30px 30px;
        margin: 0 auto;
        border-radius: var(--raduis-md);
    }

    &__works-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__works-title {
        padding: 90px 0 30px;
        @extend %font-title;
    }
}