.section {
    // background: var(--color-white);
    background: var(--color-white);

    &__inner {
        max-width: 1230px;
        margin: 0 auto;
        padding: 40px 30px 0;
        min-height: 500px;
        display: flex;
        justify-content: space-between;
        column-gap: 30px;

    }

    &__text-content {
        max-width: 500px;
        min-width: 315px;
        margin-top: 119px;
    }

    &__headling {
        font-size: 44px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__description {
        width: inherit;
        color: var(--color-gray);
    }

    &__image-wrapper {
        max-width: 500px;
        min-width: 315px;
    }

    &__image {
        width: 100%;
        height: auto;
        // margin-left: 30px;
    }
}