@use '../../styles/variables';

.header {
    // position: fixed;
    background: var(--color-light-gray);

    &__inner {
        max-width: 1230px;
        margin: 0 auto;
        padding: 30px 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: var(--font-l);
        font-weight: 700;
    }

    &__menu {
        width: 500px;
        display: block;
    }

    &__menu-list {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-s);
        font-weight: var(--font-medium);
    }

    &__menu-item {
        cursor: pointer;

        &:hover {
            color: var(--color-gray);
            transition: var(--transition-color);
        }
    }
}


.burger-menu {
    display: none;
    width: 42px;
    height: 42px;
    border-radius: var(--radius-sm);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    row-gap: 5px;

    &__item {
        width: 25px;
        height: 3px;
        background: var(--color-black);
        transition: transform 0.2s ease;
    }

    &:hover &__item {
        background: var(--color-gray);
    }

    &__item__active:first-child {
        transform: translateY(8px) rotate(45deg);
    }

    &__item__active:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }

    &__item__active:nth-child(2) {
        opacity: 0;
    }
}