@use '../../styles/variables';
@import '../../styles/mixins';

@include mobile-big {
    .header {

        &__inner {
            padding: 15px 30px;
        }

        &__menu {
            width: 100%;
            height: 100%;
            display: none;
            z-index: 1;
        }

        &__menu__active {
            position: fixed;

            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            display: block;
            background: var(--color-light-gray);
            top: 0;
            right: 0;
        }

        &__menu-list {
            position: fixed;
            padding: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            font-size: var(--font-xl);
            font-weight: var(--font-semibold);
        }
    }

    .burger-menu {
        position: fixed;
        right: 30px;
        top: 15px;
        display: flex;
        z-index: 1;
    }
}