@use '../../styles/variables';

.footer {

    &__inner {
        max-width: 315px;
        max-height: 412px;
        margin: 90px auto 90px; //Подумать над отступом снизу и решить проблему с анимацией
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>span {
            margin-bottom: 40px;
            color: var(--color-gray);
        }
    }

    &__title {
        @extend %font-title;
        margin-bottom: 20px;
    }

    &__description {
        margin-bottom: 20px;
        text-align: center;
        color: var(--color-dark-gray);
    }

    &__mail-btn {
        display: inline-block;
        padding: 0 15px;
        height: 42px;
        margin-bottom: 70px;
        border-radius: var(--radius-md);
        background-color: var(--color-dark-gray);
        color: var(--color-white);
        font-size: var(--font-md);

        &>a {
            color: white;
        }

        &:hover {
            background: var(--color-gray);
            transition: var(--transition-bg);
        }

        &:active {
            transform: translateY(2px);
            transition: transform 0.1s ease-in;
        }
    }

    &__telegram-btn {
        margin-bottom: 20px;
    }

    &__logo {
        width: 42px;
        height: 42px;
        margin-bottom: 20px;

        &:hover {
            fill: var(--color-gray);
            transition: fill 0.1s ease-in;
        }
    }
}