@use '../../styles/variables';

.footer {
    background: var(--color-white);

    &__inner {
        max-width: 500px;
        margin: 0 auto;
        padding: 90px 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>span {
            margin-bottom: 100px;
            color: var(--color-gray);
        }
    }

    &__title {
        @extend %font-title;
        margin-bottom: 40px;
    }

    &__description {
        margin-bottom: 40px;
        text-align: center;
        color: var(--color-dark-gray);
    }

    &__mail-btn {
        display: block;
        padding: 0 15px;
        height: 42px;
        margin-bottom: 80px;
        border-radius: var(--radius-md);
        background: var(--color-black);
        color: var(--color-white);
        font-size: var(--font-md);

        &>a {
            color: white;
        }

        &:hover {
            background: var(--color-dark-gray);
            transition: var(--transition-bg);
        }
    }

    &__contacts-list {
        display: flex;
        gap: 20px;
    }

    &__contact-btn {
        margin-bottom: 20px;
    }

    &__logo {
        width: 42px;
        height: 42px;
        margin-bottom: 20px;

        &:hover {
            fill: var(--color-gray);
            transition: fill 0.1s ease-in;
        }
    }
}