@use '../../styles/variables';

.work {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__work-title {
        margin-top: 30px;
        text-decoration: underline;

        &:hover {
            color: var(--color-gray);
        }
    }

    &__description {
        margin-bottom: 30px;
        text-align: center;
    }

    &__work-image {
        max-width: 100%;
        height: auto;
        border-radius: var(--radius-md);
        box-shadow: var(--shadow);
    }
}

.work+.work {
    margin-top: 90px;
}