@import '../../styles/mixins';

@include laptop() {
    .work {

        &__work-title {
            margin-bottom: 30px;
            text-decoration: underline;

            &:hover {
                color: var(--color-gray);
            }
        }
    }

    .work+.work {
        margin-top: 60px;
    }
}