@use '../../styles/variables';

.section {
    background: var(--color-yellow);

    &__inner {
        max-width: 930px;
        padding: 0 30px 70px;
        margin: 0 auto 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        @extend %font-title;
        padding: 90px 0 40px;
    }

    &__description {
        line-height: 25px;
        margin-bottom: 40px;
        color: var(--color-black);

        & span {
            font-weight: 600;
        }
    }

    &__resume-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__resume-pointer {
        width: 42px;
        height: 42px;
    }

    &__resume-link {
        display: block;
        padding: 0 15px;
        height: 42px;
        border-radius: var(--radius-md);
        background-color: var(--color-black);
        color: var(--color-white);
        font-size: var(--font-md);

        &>a {
            color: white;
        }

        &:hover {
            background: var(--color-dark-gray);
            transition: var(--transition-bg);
        }
    }
}