@use '../../styles/variables';

.resume-section {
    background: var(--color-white);

    &__inner {
        max-width: 930px;
        padding: 0 30px;
        margin: 0 auto 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        @extend %font-title;
        padding: 90px 0 40px;
    }

    &__description {
        line-height: 25px;
    }
}