.card {
    &__inner {
        // width: 100px;
        // height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;

        & div {
            text-align: center;
        }
    }

    &__logo {
        margin-bottom: 10px;
    }

}