.card {
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & div {
            text-align: center;
        }
    }

    &__logo {
        margin-bottom: 10px;
    }
}