.card {
    &__inner {
        // width: 140px;
        // height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            transition: all 0.1s ease;
            transform: scale(1.2);
        }

        & div {
            text-align: center;
        }
    }

    &__logo {
        margin-bottom: 10px;
    }

}